{% extends "base.html" %}
{% load bootstrap3 %}

{% block create %}
    class='active'
{% endblock %}

{% block inner_content %}

    <div class="col-md-12">
        <div class="card">
        <div class="card-header">
            <h5 class="title">Create a new channel</h5>
            <p class="category">Fill up the appropriate fields below to create the channel</p>
        </div>
        <div class="card-body all-icons">
            <div class="row">
            <div class="container mycontent">
                <div class="container">
                    <!-- <h2>Sign Up</h2> -->
                    <form method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <input type="submit" class='btn btn-primary' value="Create Channel">
                    </form>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>

{% endblock %}
