<!DOCTYPE html>
{% extends "base.html" %}
{% block home%}
    
{% endblock %}
{% block inner_content %}
    <div class="col-md-12">
        <div class="card">
        <div class="card-header">
            <h5 class="title">Invalid request!</h5>
            <p class="category"> - From the developers at <a
                href="">Scrum Pad</a></p>
        </div>
        <div class="card-body all-icons">
            <div class="row">
            <div class="container mycontent">
                <h2>Invalid activation request!</h2>
            </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
